.card {
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-self: center;
  padding-left: 100px;
  margin-left: 30%;
  padding: 1rem;
}

.card {
  width: 50%;
  height: 25rem;
  background-color: #588970; /* Example background color */
  border: 2px solid #333; /* Example border */
  border-radius: 8px; /* Rounded corners, adjust as needed */
}
